.shareWrapperElement,
.shareWrapperElement *,
.shareWhatsAppFloatingWidget,
.shareWhatsAppFloatingWidget * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.shareWrapperElement {
  position: relative;
  padding: 3px;
  display: inline-block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.shareWrapperElement .shareWrapperButtons {
  overflow: hidden;
  position: relative;
}

.shareWrapperElement .shareWrapperButtons .shareButton,
.shareWrapperElement .shareWrapperButtons .shareButton:active,
.shareWrapperElement .shareWrapperButtons .shareButton:link,
.shareWrapperElement .shareWrapperButtons .shareButton:visited {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px 5px 30px;
  background-size: 18px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  text-decoration: none;
  margin-right: 5px;
  position: relative;
  min-height: 20px;
  line-height: 20px;

  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.shareWrapperElement .shareWrapperButtons .shareButton:hover {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
}
.shareWrapperElement.shareButtonNoText .shareWrapperButtons .shareButton,
.shareWrapperElement.shareButtonNoText .shareWrapperButtons .shareButton:active,
.shareWrapperElement.shareButtonNoText .shareWrapperButtons .shareButton:link,
.shareWrapperElement.shareButtonNoText
  .shareWrapperButtons
  .shareButton:visited,
.shareWrapperElement.shareButtonNoText .shareWrapperButtons .shareButton:hover {
  background-position: 50% 50%;
  min-width: 20px;
  padding: 14px;
}
.shareWrapperElement .shareButtonTrigger {
  color: #333333;
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px 5px 30px;
  background-size: 18px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAYAAABxLuKEAAAFUUlEQVR4nO2caYhWZRTHfy4ttjqaZguR7eSYRYvZAhW0GQXtQRbROkbbh76UIC1Q+kGkCCmKJijsy1QakUUbOhXZiJNWRlNDNpk1LVJqNpq+bzx4Lt7uc567vXfiPu/cP/y/nHvOfZ9zuM+595znzFChQoUKFf5/DGuSmI8HWoEjgLHAn8Ba4HPgR0t7iOBWoAPoAQaAOrBdAvM6cB+w51AKyEzgGwlEEvuBWdYdmhAdCYFwsRMY3axB6XQ4nZa9wBjrrp5jcYNBCbi6mYJyi+JglOYt9C6wEtihXA/zcesXPMXvinMBXwCOjLh1MDBf0Q2zxfegzFCcCthmaf8X0xWbgN4/NW8pThkusjR1PKrYGnYDk1QLT/CD4pTJIQdkWP4fyj22yweiheGWpHwweWCCsirzZvnNkrqxVLkyAjjcknoSmH2BkZYU1lmSeKx3XN3LkngSmI3ANksK4yxJPFzbbsCSeITvlfywNWNx2K/cw/BOS9MDTAZeC1XNUT6T0oWZiq3hGuAUS7vEMK/QlxVHNE5PcOMExSbgAku7pJgCvKI4kMSHgFERl0wT7l6gFmN7mCsMjXTwjgYuBI4D9pbH/TtgidQsWXA88AhwZQPr2QB8AvwkXbxTgUMsrV1oB262pA3gfmCVEv0wTTftYWD3hJ8x+3uhYj/Y/Nn1ms6Dc4AvMy54neMpOB14SdGPY5fURStjdNJwkzztheDaBhdzjyxiSo6AdEvLIYDpwH2s6KWh2erHFBWUiwp6rJcosjiaT/47rNXsgqmMN8fYR/kssId1l5w4SPmBweYXwE0pl9siSXsF8FdkXdskFz4hxyqFYlFCEBZKdXoGcD3wHPC3opeGa1yVbkqMlg9CkwtPylEypMaxMc70xOzV8VLJanYaeySo3uApxYm69DXS1ChfK7ZhfgVcbVmVHK2ybzWHrki59EmKbV0+BGdY2p7gOjn/jTr1a8bldyv30FoIpYOrH3MosJ8lzX4es8KSwG7AWZa0ZHAFZoQl2YkdliQeNcdV1/1LA1dgzOjEFkuavaPeakl2BneZJfUEJ8u20ZLn2SldcH0cmuR7nqXtCUzz+XnFqbrMnaTBR4ptmG8A03wMzlTFmYDvO5JzgBcVGxff8zFAyxzO1OUseS5wmmwb8zk+WypYTT+J7wDnWivIhjHSnBq0ciCA6yMtyqTJgix8GzjTWokbN0jDvDdUp5lvpT7ZrnenaJjlwu0FOdyryOL4JnB+zILbpM6Ku0fAfnmaC8cDyo9l4TxZ0GU5mkyLpWIOI+0JQpSdCbkxF250lAlxrEmnPoqrMlbghq8Cl8j20K6n5beDMRdjuu9PAr8kLGKTvO6TGkTXFDBTl4eJpU3e4xOTzC6QHDBROu5bJeEtlfyw0bJy41IZN53q1EiH1ZJPWqRZFVd6zJEU4QUuB5bneAJMg/2oiIMTYnpKwTb3btTMNOA/VZzROCRHzS4GPpTJJ82xDstCx2zF1vAz+TD1Fn2KUzV5GaSFNmr2D3CbZu9qO5QJoxwBWCVlSVpoo2YjXQf7PgRmnOOcuahRs30siSeB2eLoBGYtFLWnDqmvvMQwmU6I5ociRs1qvo6aBfhAcaqeYdSsTbGty9mWV6NmUdylOBUwadRssmITcEEz/Plj3Jn4LJnqCmO4bBNNP6D6RvINDyqOhblBRk3apVWxXtEJs70ZghKgS3EwDwsdNSsD9s/RCYxyc5GjZmXC2AwFZpRrZbylqfFYQkKO8mllFrhpcaD8kdZyZR5vQCY858cMOTnRLP/C4ESZCJ0YGsbuk7ZCl6VdoUKFChVKCOBffLwDkttLpiYAAAAASUVORK5CYII=");
  text-decoration: none;
  margin-right: 5px;
  position: relative;
  min-height: 20px;
  line-height: 17px;

  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.shareWrapperElement.shareWithButtonTrigger .shareWrapperButtons {
  position: absolute;
  left: 3px;
  opacity: 0;
  display: table;
  visibility: hidden;
  white-space: nowrap;

  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.shareWrapperElement.shareWithButtonTrigger.shareWrapperOpen
  .shareWrapperButtons {
  opacity: 1;
  left: 100%;
  visibility: visible;
}

.shareWhatsAppFloatingWidget {
  position: fixed;
  bottom: 20px;
  z-index: 1;
}
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonRightSide {
  right: 30px;
}
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonLeftSide {
  left: 30px;
}
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton,
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton:active,
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton:link,
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton:visited {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-size: 70%;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;

  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;

  -webkit-animation: whatsAppMovement 2s linear infinite;
  -moz-animation: whatsAppMovement 2s linear infinite;
  -o-animation: whatsAppMovement 2s linear infinite;
  -ms-animation: whatsAppMovement 2s linear infinite;
  animation: whatsAppMovement 2s linear infinite;
}
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton:hover {
  background-color: #0fcc85 !important;
}
.shareWhatsAppFloatingWidget > .shareWhatsAppFloatingWidgetButton::before {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  z-index: -1;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-animation: whatsAppShadowMovement 2s linear infinite;
  -moz-animation: whatsAppShadowMovement 2s linear infinite;
  -o-animation: whatsAppShadowMovement 2s linear infinite;
  -ms-animation: whatsAppShadowMovement 2s linear infinite;
  animation: whatsAppShadowMovement 2s linear infinite;
}
@keyframes whatsAppMovement {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
@keyframes whatsAppShadowMovement {
  0% {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;

    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
  }
}
.shareWhatsAppFloatingWidget > ul {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetOpen > ul {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}
.shareWhatsAppFloatingWidget > ul > li {
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 0;
}
.shareWhatsAppFloatingWidget > ul > li > a,
.shareWhatsAppFloatingWidget > ul > li > a:active,
.shareWhatsAppFloatingWidget > ul > li > a:visited,
.shareWhatsAppFloatingWidget > ul > li > a:link {
  position: relative;
  background-color: #0fcc85;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 15px;
  margin: 10px 0;
  display: block;
  padding-left: 25px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;

  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.shareWhatsAppFloatingWidget > ul > li > a:hover {
  background-color: #0ebc75;
}
.shareWhatsAppFloatingWidget > ul > li > a::before {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  border-left: 8px solid #ffffff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: none;
  left: 10px;
}
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonRightSide > ul,
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonRightSide
  > ul
  > li {
  right: 0;
}
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonLeftSide > ul,
.shareWhatsAppFloatingWidget.shareWhatsAppFloatingWidgetButtonLeftSide
  > ul
  > li {
  left: 0;
}

html.whatsAppFloatingWidgetListOpen .shareWhatsAppFloatingWidgetButton::before {
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-animation: whatsAppShadowMovementBig 0.3s linear;
  -moz-animation: whatsAppShadowMovementBig 0.3s linear;
  -o-animation: whatsAppShadowMovementBig 0.3s linear;
  -ms-animation: whatsAppShadowMovementBig 0.3s linear;
  animation: whatsAppShadowMovementBig 0.3s linear;

  -webkit-transform: scale(250);
  -moz-transform: scale(250);
  -o-transform: scale(250);
  -ms-transform: scale(250);
  transform: scale(250);
}
@keyframes whatsAppShadowMovementBig {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(250);
    -moz-transform: scale(250);
    -o-transform: scale(250);
    -ms-transform: scale(250);
    transform: scale(250);
  }
}
html.whatsAppFloatingWidgetListClosing
  .shareWhatsAppFloatingWidgetButton::before {
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-animation: whatsAppShadowMovementSmall 0.3s linear;
  -moz-animation: whatsAppShadowMovementSmall 0.3s linear;
  -o-animation: whatsAppShadowMovementSmall 0.3s linear;
  -ms-animation: whatsAppShadowMovementSmall 0.3s linear;
  animation: whatsAppShadowMovementSmall 0.3s linear;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@keyframes whatsAppShadowMovementSmall {
  0% {
    -webkit-transform: scale(250);
    -moz-transform: scale(250);
    -o-transform: scale(250);
    -ms-transform: scale(250);
    transform: scale(250);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
